.container {
    width: 335px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 767px;
        padding: 0 32px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        max-width: 1200px;
    }
}