@mixin transition($property) {
  transition: #{$property} 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin flex-basis($gap, $count-items) {
  flex-basis: calc((100% - $gap * (#{$count-items} - 1)) / #{$count-items});
}
