<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <h3 class="advantages__subtitle">Unsurpassed taste</h3>
        <p class="advantages__text">
          Crafted with the finest quality cocoa beans <br />and a dedication to
          perfection, each bite is a <br />
          decadent experience that simply cannot be <br />matched. Savor the
          richness and complexity <br />
          of our Unsurpassed Taste and discover a new <br />
          blevel of chocolate bliss.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__subtitle">Affordable price</h3>
        <p class="advantages__text">
          Indulge in high-quality chocolate without <br />
          breaking the bank with Simply Chocolate's <br />
          selection of affordable treats. Enjoy mouth- <br />
          watering truffles and velvety chocolate bars <br />without sacrificing
          taste or quality. Browse <br />
          our selection and indulge in affordable luxury <br />
          today.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__subtitle">Own production</h3>
        <p class="advantages__text">
          We take pride in our own production process, <br />
          ensuring that every step is carefully crafted to <br />
          perfection. From selecting the finest <br />
          ingredients to handcrafting each piece, our <br />
          attention to detail is evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
