<footer class="footer">
  <div class="footer__container-contact">
    <p class="footer__subtitle">
      <span class="footer__subtitle-span">Chocolate</span> a delicious <br />
      cure for a bad day
    </p>
    <div class="footer__container">
      <div class="contact">
        <ul class="contact__list list">
          <li class="contact__item">
            <p class="contact__text">Contact us</p>
          </li>
          <li class="contact__item">
            <a href="" class="contact__link link">+380 (68) 443-94-26</a>
          </li>
          <li class="contact__item">
            <a href="" class="contact__link link">simplychoc@gmail.com</a>
          </li>
        </ul>
      </div>
      <ul class="soc__list list">
        <li class="soc__item">
          <a href="" class="soc__link">
            <svg class="soc__svg" width="23" height="23">
              <use href="./images/icons.svg#icon-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="" class="soc__link">
            <svg class="soc__svg" width="23" height="23">
              <use href="./images/icons.svg#icon-footer-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="footer__line" />
  <ul class="footer__list list">
    <li class="footer__item">
      <a href="" class="footer__link link">Home</a>
    </li>
    <li class="footer__item">
      <a href="" class="footer__link link">How it’s made?</a>
    </li>
    <li class="footer__item">
      <a href="" class="footer__link link">Our products</a>
    </li>
    <li class="footer__item">
      <a href="" class="footer__link link">Top sellers</a>
    </li>
    <li class="footer__item">
      <a href="" class="footer__link link">Chocolate is loved</a>
    </li>
  </ul>
</footer>