<footer class="footer">
    <p class="footer__subtitle">
        <span class="footer__subtitle-span">Chocolate</span> a delicious cure for a bad day</p>
    <div class="contact">
        <p class="contact__text">Contact us</p>
        <ul class="contact__list list">
            <li class="contact__item">
                <a href="" class="contact__link link">+380 (68) 443-94-26</a>
            </li>
            <li class="contact__item">
                <a href="" class="contact__link link">simplychoc@gmail.com</a>
            </li>
        </ul>
    </div>
    <ul class="soc__list list">
        <li class="soc__item">
            <a href="" class="soc__link">
                    <svg class="header__item-svg" width="190" height="33">
                <use href="./images/icons.svg#icon-footer-instagram"></use>
                    </svg>
            </a>
        </li>
        <li class="soc__item">
            <a href="" class="soc__link">
                <svg class="header__item-svg" width="190" height="33">
                    <use href="./images/icons.svg#icon-footer-twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
    <hr class="footer__line">
    <ul class="footer__list list">
        <li class="footer__item">
            <a href="" class="footer__link link">Home</a>
        </li>
        <li class="footer__item">
            <a href="" class="footer__link link">How it’s made?</a>
        </li>
        <li class="footer__item">
            <a href="" class="footer__link link">Our products</a>
        </li>
        <li class="footer__item">
            <a href="" class="footer__link link">Top sellers</a>
        </li>
        <li class="footer__item">
            <a href="" class="footer__link link">Chocolate is loved</a>
        </li>
    </ul>
</footer>