<section class="products">
  <div class="container">
    <h2 class="mobile-title">Our <span>Products</span></h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/orange.jpg" />
            <div class="swiper__text-container">
              <h3 class="swiper__title">Orange</h3>
              <p class="swiper__text">Dark Chocolate</p>
            </div>
            <button class="swiper__price">45 UAH</button> 
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img
              class="swiper-img"
              src="./images/products/apple-cranberry.jpg"
            />  
            <div class="swiper__text-container">
              <h3 class="swiper__title">APPLE&CRANBERRY</h3>
              <p class="swiper__text">Milk chocolate</p>
            </div>
            <button class="swiper__price">50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/lime-sea-salt.jpg" />
            <div class="swiper__text-container">
              <h3 class="swiper__title">lime&sea salt</h3>
              <p class="swiper__text">Dark chocolate</p>
            </div> 
            <button class="swiper__price">66 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/pineapple.jpg" /> 
            <div class="swiper__text-container">
              <h3 class="swiper__title">pineapple</h3>
              <p class="swiper__text">Dark chocolate</p>
            </div>
            <button class="swiper__price">54 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/classic-milk.jpg" />
            <div class="swiper__text-container">
              <h3 class="swiper__title">Classic</h3>
              <p class="swiper__text">Milk chocolate</p>
            </div>
            <button class="swiper__price">45 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/honey.jpg" />
            <div class="swiper__text-container">
              <h3 class="swiper__title">honey</h3>
              <p class="swiper__text">Milk chocolate</p>
            </div>
            <button class="swiper__price">50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img
              class="swiper-img"
              src="./images/products/roasted-fruits.jpg"
            />
            <div class="swiper__text-container">
              <h3 class="swiper__title">Roasted fruits</h3>
              <p class="swiper__text">Dark chocolate</p>
            </div>
            <button class="swiper__price">66 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__item">
            <img class="swiper-img" src="./images/products/classic-white.jpg" />
            <div class="swiper__text-container">
              <h3 class="swiper__title">Classic</h3>
              <p class="swiper__text">White chocolate</p>
            </div>
            <button class="swiper__price">54 UAH</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
