<section class="products">
  <div class="container">
    <h2 class="products__title">Our Products</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Orange</h3>
                <p class="swiper__text">Dark Chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">APPLE&CRANBERRY</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">lime&sea salt</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">pineapple</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">honey</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Roasted fruits</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">White chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Orange</h3>
                <p class="swiper__text">Dark Chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">APPLE&CRANBERRY</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">lime&sea salt</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">pineapple</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">honey</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Roasted fruits</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">White chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Orange</h3>
                <p class="swiper__text">Dark Chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">APPLE&CRANBERRY</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">lime&sea salt</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">pineapple</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">honey</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Roasted fruits</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">White chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Orange</h3>
                <p class="swiper__text">Dark Chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">APPLE&CRANBERRY</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">lime&sea salt</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">pineapple</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="swiper__list">
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">45 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">honey</h3>
                <p class="swiper__text">Milk chocolate</p>
              </div>
              <p class="swiper__price">50 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Roasted fruits</h3>
                <p class="swiper__text">Dark chocolate</p>
              </div>
              <p class="swiper__price">66 UAH</p>
            </li>
            <li class="swiper__item">
              <img class="swiper-img" alt="" />
              <div class="swiper__text-container">
                <h3 class="swiper__title">Classic</h3>
                <p class="swiper__text">White chocolate</p>
              </div>
              <p class="swiper__price">54 UAH</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
