<section class="reviews">
  <div class="container">
    <h2 class="title"><span>Chocolate</span> is loved</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer1.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Victoria Dobrzhanska</h3>
          <p class="reviews-swiper__text">
            I love this chocolate bar. Perfect 
            combination of light crispy wafer, covered in 
            a thin layer chocolate.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer2.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Nazar Babenko</h3>
          <p class="reviews-swiper__text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer3.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Olena Kampusch</h3>
          <p class="reviews-swiper__text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
    </div>
    <button type="button" class="reviews__btn">Leave a review</button>
  </div>
</section>
