<section class="reviews">
  <div class="container">
    <h2 class="title"><span>Chocolate</span> is loved</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer1.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Victoria Dobrzhanska</h3>
          <p class="reviews-swiper__text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer2.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Nazar Babenko</h3>
          <p class="reviews-swiper__text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/reviews/reviewer3.jpg"
            alt=""
            class="reviews-swiper__img"
          />
          <h3 class="reviews-swiper__title">Olena Kampusch</h3>
          <p class="reviews-swiper__text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
    </div>
    <button type="button" class="reviews__btn" data-modal-open>
      Leave a review
    </button>
  </div>
  <div class="first-reviews-modal is-hidden" data-modal>
    <button type="button" class="reviews__btn--close" data-modal-close>
      <svg width="28px" height="28px" class="reviews__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title first-reviews-title">
      LEAVE A REVIEW ABOUT OUR <span>CHOCOLATE</span>
    </h2>
    <form class="reviews__form">
      <input
        id="name"
        name="name"
        type="text"
        class="reviews__input"
        placeholder="Name"
      /> 
      <input
        id="email"
        name="email"
        type="email"
        class="reviews__input"
        placeholder="Email"
      />
      <input
        id="phone"
        name="phone"
        type="tel" 
        class="reviews__input"
        placeholder="Phone number"
      />
      <textarea
      style="height: 91px;"
        name="text"
        id="text" 
        class="reviews__input"
        placeholder="Enter text"
      ></textarea>
      <button type="submit" class="reviews__btn--submit">Send</button>
    </form>
  </div>
  <div class="overlay is-hidden" data-modal-overlay></div>
</section>
