<section class="sellers">
    <div class="container">
        <h2 class="sellers__title"><span>TOP</span> SELLERS</h2>
        <div class="container__sellers">
            <div class="container__text">
                <picture>
                    <source srcset="
              ./images/sellers/sellers_1img_desk.jpg    1x,
              ./images/sellers/sellers_1img_desk@2x.jpg 2x
            " media="(min-width:1200px)" sizes="”368px”" />
                    <source srcset="
              ./images/sellers/sellers_1img_tab.jpg    1x,
              ./images/sellers/sellers_1img_tab@2x.jpg 2x
            " media="(min-width:768px)" sizes="”344px”" />
                    <source srcset="
              ./images/sellers/sellers_1img_mob.jpg    1x,
              ./images/sellers/sellers_1img_mob@2x.jpg 2x
            " media="(max-width:767px)" sizes="”100%”" />
                    <img src="./images/sellers/sellers_1img_mob.jpg" alt="chocolate" class="sellers__img" />
                </picture>
                <p class="sellers__text">
                    Crazy enough chocolate originates from a bean just like the coffee
                    bean called Cacao. Cacao has been around for thousands of years and
                    was first discovered by the Native American tribe called the Mayans.
                </p>
            </div>
            <div class="container__btn">
                <picture>
                    <source srcset="
              ./images/sellers/sellers_2img_desk.jpg    1x,
              ./images/sellers/sellers_2img_desk@2x.jpg 2x
            " media="(min-width:1200px)" sizes="”368px”" />
                    <source srcset="
              ./images/sellers/sellers_2img_tab.jpg    1x,
              ./images/sellers/sellers_2img_tab@2x.jpg 2x
            " media="(min-width:768px)" sizes="”344px”" />
                    <source srcset="
              ./images/sellers/sellers_2img_mob.jpg    1x,
              ./images/sellers/sellers_2img_mob@2x.jpg 2x
            " media="(max-width:767px)" sizes="”100%”" />
                    <img src="./images/sellers/sellers_2img_mob.jpg" alt="chocolate" class="sellers__img" />
                </picture>
                <button class="sellers__btn" type="button" data-modal-open>
                    Buy now
                </button>
            </div>
            <div class="sellers__img-container">
                <picture>
                    <source srcset="
              ./images/sellers/sellers_3img_desk.jpg    1x,
              ./images/sellers/sellers_3img_desk@2x.jpg 2x
            " media="(min-width:1200px)" sizes="”368px”" />
                    <img src="./images/sellers/sellers_3img_desk.jpg" alt="chocolate" class="sellers__img" />
                </picture>
            </div>
        </div>
    </div>
</section>
<div class="backdrop is-hidden" data-modal>
    <div class="sellers-modal">
        <button type="button" class="sellers-modal__btn--close" data-modal-close>
            <svg width="28px" height="28px" class="reviews__icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="title sellers-modal__title">BUY <span> NOW</span></h2>
        <ul class="sellers-modal__list list">
            <li class="sellers-modal__item">
                <picture>
                    <source srcset="
                              ./images/sellers/sellers-modal_1img_desk.jpg    1x,
                              ./images/sellers/sellers-modal_1img_desk@2x.jpg 2x
                            " media="(min-width:1200px)" sizes="”120px”" />
                    <source srcset="
                              ./images/sellers/sellers-modal_1img_tab.jpg    1x,
                              ./images/sellers/sellers-modal_1img_tab@2x.jpg 2x
                            " media="(min-width:768px)" sizes="”120px”" />
                    <source srcset="
                              ./images/sellers/sellers-modal_1img_mob.jpg    1x,
                              ./images/sellers/sellers-modal_1img_mob@2x.jpg 2x
                            " media="(max-width:767px)" sizes="”100%”" />
                    <img src="./images/sellers/sellers_1img_mob.jpg" alt="chocolate" class="sellers-modal__img" />
                </picture>
                <button class="sellers-modal__btn" type="button">100g</button>
            </li>
            <li class="sellers-modal__item">
                <picture>
                    <source srcset="
                                          ./images/sellers/sellers-modal_2img_desk.jpg    1x,
                                          ./images/sellers/sellers-modal_2img_desk@2x.jpg 2x
                                        " media="(min-width:1200px)" sizes="”120px”" />
                    <source srcset="
                                          ./images/sellers/sellers-modal_2img_tab.jpg    1x,
                                          ./images/sellers/sellers-modal_2img_tab@2x.jpg 2x
                                        " media="(min-width:768px)" sizes="”120px”" />
                    <source srcset="
                                          ./images/sellers/sellers-modal_2img_mob.jpg    1x,
                                          ./images/sellers/sellers-modal_2img_mob@2x.jpg 2x
                                        " media="(max-width:767px)" sizes="”100%”" />
                    <img src="./images/sellers/sellers_1img_mob.jpg" alt="chocolate" class="sellers-modal__img" />
                </picture>
                <button class="sellers-modal__btn" type="button">200g</button>
            </li>
            <li class="sellers-modal__item">
                <picture>
                    <source srcset="
                                          ./images/sellers/sellers-modal_3img_desk.jpg    1x,
                                          ./images/sellers/sellers-modal_3img_desk@2x.jpg 2x
                                        " media="(min-width:1200px)" sizes="”120px”" />
                    <source srcset="
                                          ./images/sellers/sellers-modal_3img_tab.jpg    1x,
                                          ./images/sellers/sellers-modal_3img_tab@2x.jpg 2x
                                        " media="(min-width:768px)" sizes="”120px”" />
                    <source srcset="
                                          ./images/sellers/sellers-modal_3img_mob.jpg    1x,
                                          ./images/sellers/sellers-modal_3img_mob@2x.jpg 2x
                                        " media="(max-width:767px)" sizes="”100%”" />
                    <img src="./images/sellers/sellers_1img_mob.jpg" alt="chocolate" class="sellers-modal__img" />
                </picture>
                <button class="sellers-modal__btn" type="button">300g</button>
            </li>
        </ul>
        <form class="sellers__form">
            <label class="sellers__label">Personal information
                <input id="name" name="name" type="text" class="sellers__input" placeholder="Name" />
            </label>
            <input id="surname" name="surname" type="text" class="sellers__input" placeholder="Surname" />
            <label class="sellers__label">Email
                <input id="email" name="email" type="email" class="sellers__input" placeholder="Email" />
            </label>
            <label class="sellers__label">Phone number
                <input id="phone" name="phone" type="tel" class="sellers__input" placeholder="Phone number" /></label>
            <label class="sellers__label">Card number <input id="card" name="card" type="number" class="sellers__input"
                    placeholder="Enter card" /></label>
            <label class="sellers__label">Comment
                <textarea style="height: 91px" name="text" id="text" class="reviews__input"
                    placeholder="Enter text"></textarea> </label>
            <button type="submit" class="sellers__btn--submit">Send</button>
        </form>
    </div>
</div>