<section class="taste">
  <div class="container">
    <h2 class="title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste__title-span">TASTE</span> SENSATION
    </h2>
    <p class="taste__text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="taste__list list">
      <li class="taste__item">
        <a href="" class="taste__link link">
          <div class="taste__wrapper-image">
            <picture>
              <source
                srcset="
                  ./images/taste/chocolate_taste_desk_img1.png    1x,
                  ./images/taste/chocolate_taste_desk@2x_img1.png 2x
                "
                media="(min-width:1200px)"
                sizes="”370px”"
              />
              <source
                srcset="
                  ./images/taste/chocolate_taste_tab_img1.png    1x,
                  ./images/taste/chocolate_taste_tab@2x_img1.png 2x
                "
                media="(min-width:768px)"
                sizes="”354px”"
              />
              <source srcset="./images/taste/chocolate_taste_mob_img1.png 1x,
              ./images/taste/chocolate_taste_mob@2x_img1.png 2x"
              media="(max-width:767px)" / sizes=”100%”>
            </picture>
            <img
              class="taste__img"
              src="./images/taste/chocolate_taste_desk_img1.png"
              alt="chocolate"
            />
            <div class="taste__overley">
              <h3 class="taste__overley-title">Milk chocolate</h3>
              <div class="taste__overley-btn-div">
                <button class="taste__overley-btn">chocolate</button>
                <button class="taste__overley-btn">the benefits</button>
              </div>
              <p class="taste__overley-text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times.
              </p>
            </div>
          </div>
          <h3 class="taste__subtitle">MILK CHOCOLATE</h3>
        </a>
      </li>
      <li class="taste__item">
        <a href="" class="taste__link link">
          <div class="taste__wrapper-image">
            <picture>
              <source
                srcset="
                  ./images/taste/chocolate_taste_desk_img2.png    1x,
                  ./images/taste/chocolate_taste_desk@2x_img2.png 2x
                "
                media="(min-width:1200px)"
                sizes="”370px”"
              />
              <source
                srcset="
                  ./images/taste/chocolate_taste_tab_img2.png    1x,
                  ./images/taste/chocolate_taste_tab@2x_img2.png 2x
                "
                media="(min-width:768px)"
                sizes="”354px”"
              />
              <source srcset="./images/taste/chocolate_taste_mob_img2.png 1x,
              ./images/taste/chocolate_taste_mob@2x_img2.png 2x"
              media="(max-width:767px)" / sizes=”100%”>
            </picture>
            <img
              class="taste__img"
              src="./images/taste/chocolate_taste_desk_img2.png"
              alt="milk"
            />
            <div class="taste__overley">
              <h3 class="taste__overley-title">Milk</h3>
              <div class="taste__overley-btn-div">
                <button class="taste__overley-btn">milk</button>
                <button class="taste__overley-btn">the benefits</button>
              </div>
              <p class="taste__overley-text">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk.
              </p>
            </div>
          </div>
          <h3 class="taste__subtitle">MILK</h3>
        </a>
      </li>
      <li class="taste__item">
        <a href="" class="taste__link link">
          <div class="taste__wrapper-image">
            <picture>
              <source
                srcset="
                  ./images/taste/chocolate_taste_desk_img3.png    1x,
                  ./images/taste/chocolate_taste_desk@2x_img3.png 2x
                "
                media="(min-width:1200px)"
                sizes="”370px”"
              />
              <source
                srcset="
                  ./images/taste/chocolate_taste_tab_img3.png    1x,
                  ./images/taste/chocolate_taste_tab@2x_img3.png 2x
                "
                media="(min-width:768px)"
                sizes="”354px”"
              />
              <source srcset="./images/taste/chocolate_taste_mob_img3.png 1x,
              ./images/taste/chocolate_taste_mob@2x_img3.png 2x"
              media="(max-width:767px)" / sizes=”100%”>
            </picture>
            <img
              class="taste__img"
              src="./images/taste/chocolate_taste_desk_img3.png"
              alt="nuts"
            />
            <div class="taste__overley">
              <h3 class="taste__overley-title">Nuts</h3>
              <div class="taste__overley-btn-div">
                <button class="taste__overley-btn">nuts</button>
                <button class="taste__overley-btn">the benefits</button>
              </div>
              <p class="taste__overley-text">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source...
              </p>
            </div>
          </div>
          <h3 class="taste__subtitle">Nuts</h3>
        </a>
      </li>
      <li class="taste__item">
        <a href="" class="taste__link link">
          <div class="taste__wrapper-image">
            <picture>
              <source
                srcset="
                  ./images/taste/chocolate_taste_desk_img4.png    1x,
                  ./images/taste/chocolate_taste_desk@2x_img4.png 2x
                "
                media="(min-width:1200px)"
                sizes="”370px”"
              />
              <source
                srcset="
                  ./images/taste/chocolate_taste_tab_img4.png    1x,
                  ./images/taste/chocolate_taste_tab@2x_img4.png 2x
                "
                media="(min-width:768px)"
                sizes="”354px”"
              />
              <source srcset="./images/taste/chocolate_taste_mob_img4.png 1x,
              ./images/taste/chocolate_taste_mob@2x_img4.png 2x"
              media="(max-width:767px)" / sizes=”100%”>
            </picture>
            <img
              class="taste__img"
              src="./images/taste/chocolate_taste_desk_img4.png"
              alt="semi"
            />
            <div class="taste__overley">
              <h3 class="taste__overley-title">SEMI - SWEET CHOCOLATE</h3>
              <div class="taste__overley-btn-div">
                <button class="taste__overley-btn">sweet chocolate</button>
                <button class="taste__overley-btn">the benefits</button>
              </div>
              <p class="taste__overley-text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of...
              </p>
            </div>
          </div>
          <h3 class="taste__subtitle">SEMI - SWEET CHOCOLATE</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
