.advantages {
  background-color: $main-color;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 51px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    gap: 19px;
    justify-content: space-between;
  }
}

.advantages__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: $white;
  margin-bottom: 18px;
}
.advantages__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
