.explore {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 63px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/explore/explore_bg_mob_5.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/explore/explore_bg_mob@2x_6.jpg');
}
@media screen and (min-width: 768px) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),url('../images/explore/explore_bg_tab_3jpg');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url('../images/explore/explore_bg_tab@2x_4jpg');
        }
}
@media screen and (min-width: 1200px){
     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4))url('../images/explore/explore_bg_desk_1.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4))url('../images/explore/explore_bg_desk@2x_2.jpg');

}
}
}
.explore__title {
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
text-transform: uppercase;
  color: $white;
display: flex;
flex-direction: column;
text-align: center;
margin-bottom:  24px;
padding-top: 62px;
@media screen and (min-width:768px) {
line-height: 28px; 
letter-spacing: -0.72px;
}
@media screen and (min-width:1200px) {
line-height: 28px; 
letter-spacing: -0.72px;
}
}
.explore__text {
    color: $white;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.explore__btn {
  color: $white;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
  display: block;
  margin: 0 auto;
  background-color: $accent-color;
  border-radius: 100px;
  padding: 12px 28px;
  align-items: flex-start;
  @media screen and (min-width:768px) {
font-size: 18px;
padding: 14px 40px;

    }
    @media screen and (min-width:1200px) {
      font-size: 18px;
      padding: 14px 40px;
    }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 311px;
  min-height: 350px;
  border-radius: 15px;
  background: #FAFAFA;
  transform: translate(-50%, -50%) scale(1);
  padding: 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width:768px) {
    min-width: 538px;
    min-width: 412px;
  }
     @media screen and (min-width:1200px) {
      min-width: 538px;
     min-height: 412px;
     }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.btn-close {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  right: 14px;
  top: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}
.modal__title {
  color: #111;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
text-transform: uppercase;
margin-top: 32px;
margin-bottom: 24px;
// margin-right: 24px;

}
.modal__title-span {
  color: #FD9222;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.6px;
text-transform: uppercase;
}
.modal__label {
  color: rgba(64, 64, 64, 0.30);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.28px;
}
.modal-explore__btn {
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
// width: 56px;
// flex-shrink: 0;
display: flex;
width: 100px;
padding: 14px 28px;
justify-content: center;
align-items: center;
gap: 14px;
position: absolute;
right: 0px;
border-radius: 100px;
background: #FD9222;
}
