// @media screen and (min-width:768px) {}
.footer {
    background-color: $main-color;
}
.footer__container-contact {
    display: flex;

}
.footer__subtitle {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.48px;
    padding-top: 32px;
    margin-left: 20px;
    margin-bottom: 32px;
    @media screen and (min-width:768px) {
        padding-top: 50px;
        margin-left: 32px;
        margin-bottom: 54px;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.56px;
    }
}
.footer__subtitle-span {
    color: $accent-color;
}
.footer__container {
    display: flex;
    gap: 113px;
    @media screen and (min-width:768px) {
        padding-top: 50px;
        margin-left: 107px;
        gap: 50px;
    }
    @media screen and (min-width:1200px) {
        margin-left: 543px;
    }
}
.contact {
    display: flex;
    margin-left: 20px;
    margin-bottom: 32px;
}
.contact__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
// .contact__item {}
.contact__link {
    color: $white;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
}
.contact__text {
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 14px;
}
.soc__list {
    display: flex;
    gap: 14px;
    margin-right: 20px;
}
// .soc__item {}
// .soc__link {}
// .soc__svg {}
.footer__line {
    color: $white;
    opacity: 0.1;
    width: 335px;
    @media screen and (min-width:768px) {
        width: 704px;
    }
    @media screen and (min-width:1200px) {
        width: 1136px;
    }
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-left: 20px;
    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 24px;
        padding-left: 12px;
    }
}
// .footer__item {}
.footer__link {
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
}