.header__list {
  display: flex;
}
.nav {
  display: none;
  @media (min-width: 1024px) {
  display: flex;

  }
}
.nav__list {
  display: flex;
  justify-content: center;
gap: 24px;
}
.nav__item {

font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.02em;
color: black;
}
.header__logo {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: black;
}
.logo__accent {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: black;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-open {
background-color: transparent;
border: none;
@media (min-width: 1024px) {
    display: none;
}
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #1E1823;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 136px;
}
.menu__link {
  font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.02em;
color: #fff;
}
.contact-menu {
  display: flex;
  gap: 18px;
margin-top: 250px;
@media (min-width: 768px) {
  margin-top: 500px;
}
}