.header__list {
    display: flex;
}
.nav {
    display: none;
}
.header__logo {
font-style: italic;
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.03em;
color: black;
}
.logo__accent {
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.03em;
color: black;
}