.header {
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
.nav {
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: black;
}
.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.42px;
  color: black;
  text-transform: uppercase;
}
.logo__accent {
  font-style: italic;
  margin-right: 4px;
}
.info {
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 18px;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-open {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 1024px) {
    display: none;
  }
  &:hover,
  &:focus {
    .menu-open__svg {
      stroke: $accent-color;
    }
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #1e1823;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(50%);
}

.menu-container .menu-toggle {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 54%;
  top: 20px;
  color: #fff;

  &:hover,
  &:focus {
    .menu-close__svg {
      stroke: $accent-color;
    }
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-top: 136px;
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contact-menu {
  display: flex;
  gap: 18px;
  position: absolute;
  bottom: 20px;
}
.contact__svg {
  stroke: #fff;
  @include transition(stroke);
}
.contact-menu__link {
  width: 100%;
  height: 100%;
  display: inline-block;

  &:hover,
  &:focus {
    .contact__svg {
      stroke: $accent-color;
    }
  }
}
.menu-open__svg {
  stroke: #111;
  @include transition(stroke);
}
.menu-close__svg {
  stroke: #fff;
  @include transition(stroke);
}
