.made__div-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: $text-color;
}
.made-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: $text-color;
}
