.made__div-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: $text-color;
}
.made-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: $text-color;
}
.made__div-wrapper {
  position: relative;
  display: inline-block;
}

.made__img-wrapper {
  position: relative;
}

.made__img {
  border-radius: 15px;
}

.made__icon {
  position: relative;
  border: 2px solid white;
  border-radius: 50px;
}

.made__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
