.products {
  padding-top: 72px;

  .container {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding: 0;
      width: 100%;
    }
  }
}
.products-swiper {
  margin-top: 32px !important;
  @media screen and (min-width: 768px) {
    margin-top: 50px !important;
  }
  .swiper-slide {
    padding: 32px 52px 52px !important;
    @media screen and (min-width: 768px) {
      padding-bottom: 64px !important;
    }
  }
}

.products-swiper__text-container {
  margin-top: 8px;
}
.products-swiper__title {
  color: $text-color;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.products-swiper__text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.products-swiper__price {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 8px 22px;
  border-radius: 100px;
  color: $text-color;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white;
    cursor: pointer;
    border-color: transparent;
  }
}
.products-swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet-active {
  background: $accent-color !important;
}
