.sellers {
  padding-top: 72px;
  padding-bottom: 72px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.sellers__title {
  @extend %mobile-title;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }
}

.container__sellers {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
  }
}

.sellers__img {
  width: 335px;
  height: 464px;
  flex-shrink: 0;
}

.sellers__img-container {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.sellers__text {
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    max-width: 306px;
    height: 90px;
    padding-right: 38px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 407px;
    position: absolute;
  }
}

.container__btn {
  position: relative;
}

.sellers__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid $accent-color;
  color: $white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: black;

  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    right: -350px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.sellers-modal__btn--close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 7px;
  right: 7px;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;
  }
}

.sellers-modal__title {
  text-align: center;
  margin-bottom: 32px;
}

.sellers-modal__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.sellers-modal__item {
  padding: 32px 32px 28px 32px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    padding: 24px 20px 18px 20px;
  }
}

.sellers-modal__img {
  @media screen and (min-width: 768px) {
    width: 120px;
    height: 107px;
    padding-bottom: 14px;
    align-items: center;
  }
}

.sellers-modal__btn {
  padding: 8px 27px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  display: block;
  margin: 0 auto;
}

.sellers-modal__label {
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.sellers-modal__label:not(:first-child) {
  margin-top: 18px;
}

.sellers-modal__label:first-child {
  margin-top: 40px;
}

.sellers-modal__div-name {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 21px;
  }
}

.sellers-modal__input {
  width: 263px;
  height: 40px;
  border-radius: 4px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  display: block;
  outline: none;
  margin-top: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 18px;

  &:hover,
  &:focus {
    border-color: orange;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    width: 513px;
    padding: 22px 24px;
  }
}

.sellers-modal__textarea {
  border-radius: 4px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  width: 263px;
  height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  line-height: normal;
  letter-spacing: 0.12px;
  margin-top: 4px;
  padding: 14px 18px 60px 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);

  @media screen and (min-width: 768px) {
    width: 513px;
    padding: 22px 24px 40px 24px;
  }

  &:hover,
  &:focus {
    border-color: orange;
  }
}

.sellers__btn--submit {
  margin-top: 18px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
}
.sellers-modal.is-hidden {
  transform: translate(-50%, -50%) scale(0);
}

.sellers-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 41px;
  background-color: $white;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
