.taste {
  padding-top: 72px;
  padding-bottom: 72px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.taste__title {
  text-align: center;
}

.taste__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 28px;
    margin-bottom: 50px;
  }
}

.taste__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 19px;
    justify-content: center;
  }
}

.taste__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  .taste__item:nth-child(even) & {
    color: $text-color;
  }
}

.taste__item {
  border-radius: 15px;
  @include flex-basis(20px, 1);
  @media screen and (min-width: 768px) {
    @include flex-basis(32px, 2);
  }
  @media screen and (min-width: 1200px) {
    @include flex-basis(19px, 4);
  }
  &:first-child {
    background-color: $accent-color;
  }
}

.taste__item:nth-child(odd) .taste__subtitle {
  color: $white;
}

.taste__item:nth-child(even) {
  border: 2px solid $accent-color;
}

.taste__item:nth-child(3) {
  background-color: black;
  order: 0;
  @media screen and (width: 768px) {
    order: 1;
  }
}

.taste__item:nth-child(2) {
  order: 0;
  @media screen and (width: 768px) {
    order: 1;
  }
}

.taste__overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: 28px;
  border-radius: 15px;
  transform: translateY(100%);
  transition: transform 250ms ease;
  .taste__item:hover & {
    transform: translateY(0);
  }
}

.taste__wrapper-image {
  overflow: hidden;
  position: relative;
}

.taste__overley-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: $text-color;
  padding-bottom: 8px;
}

.taste__overley-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: $text-color;
}

.taste__overley-btn-div {
  display: flex;
  gap: 6px;
  padding-bottom: 14px;
}

.taste__overley-btn {
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  padding: 6px 16px;
  &:first-child {
    background-color: $accent-color;
    border: transparent;
    color: $white;
  }
}

.taste__overley-btn:last-child {
  background-color: transparent;
  border: 2px solid $accent-color;
  color: $text-color;
}
